/**
 TODO
 button colors (evtl. size)
 font change
 add logo as background of column?
 */

.margin-top {
  margin-top: 25%;
}

.empty {
  height: 1em;
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
}

#coming-soon {
  margin-top: 2rem;
  color: #36ba00;
}
